<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Management System</title>

    <!-- Bootstrap css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <!-- Slick css link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Font awsome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Bootstrap another link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
            integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
            crossorigin="anonymous"></script>

    <script>(function(w, d) { w.CollectId = "643513e165918a6a208014b4"; var h = d.head || d.getElementsByTagName("head")[0]; var s = d.createElement("script"); s.setAttribute("type", "text/javascript"); s.async=true; s.setAttribute("src", "https://collectcdn.com/launcher.js"); h.appendChild(s); })(window, document);</script>

</head>

<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark bg-opacity-75">
    <div class="container-fluid px-5">
        <a class="navbar-brand text-white" style="font-weight: 600; font-size: 1.3rem;" href="#">MS COLLEGE,
            MOTIHARI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#recruiter">Recruiters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page"
                       href="#specialization">Specializations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#camp">Campus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#student">Testomonial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/admission">Admission</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="#"><i class="fas fa-"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="banner mt-5" id="banner">
    <img src="https://paruluniversity.ac.in/bca_2023/images/BCA_B.Sc.IT.jpg" width="100%" alt="">

    <div class="msg container my-5">
        <div class="heading py-5">
            <p class="display-6 text-center" style="font-weight: 700;color: #393185;">Our Marks of Quality in
                Technical Education</p>
            <p class="text-center" style="font-size: 1.5rem;font-weight: 700;color: #393185;">A Record of Stellar
                Rankings and Awards</p>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card border-white">
                    <img src="https://paruluniversity.ac.in/bca_2023/images/pngegg.png" class="card-img" alt="">
                    <div class="card-img-overlay d-flex align-items-center justify-content-around">
                        <p class="card-title text-center px-5" style="font-size: 1.2rem;">
                            <strong>Ranked Amongst Top 50 Private Universities In India For Leading
                                Innovation</strong> <br> Achievements (Atal Ranking (ARIIA 2020 - MHRD))
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-white">
                    <img src="https://paruluniversity.ac.in/bca_2023/images/pngegg.png" class="card-img" alt="">
                    <div class="card-img-overlay d-flex align-items-center justify-content-around">
                        <p class="card-title text-center px-5" style="font-size: 1.2rem;">
                            <strong>Awarded as the Best University in Placements </strong>(By ASSOCHAM)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-white">
                    <img src="https://paruluniversity.ac.in/bca_2023/images/pngegg.png" class="card-img" alt="">
                    <div class="card-img-overlay d-flex align-items-center justify-content-around">
                        <p class="card-title text-center px-5" style="font-size: 1.2rem;">
                            <strong>Awarded as the Best University in Western India </strong> (By Praxis Media)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5" id="about">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card h-100 border-0">
                <div class="card-body">
                    <h1 class="card-title" style="font-weight: 700; color: #393185;">About Our BCA/ B.Sc IT &
                        Integrated MCA Programs</h1>
                    <p class="pt-2" style="font-size: 1.1rem;">Parul University is western India’s best private
                        University which provides students with an enriching exposure to research, entrepreneurship
                        and innovation, internationalisation, placements through quality learning experience.
                        <br><br> With growing scope of digitalisation & tech innovation in India,<strong> our
                            contemporary BCA/ B.Sc IT & Integrated MCA programs aim to develop professionals with
                            high tech acumen.</strong> Our industry-centered curriculum is <strong>delivered by our
                            esteemed faculty,</strong> who have <strong>years of experience in shaping skilled
                            professionals</strong> through practical knowledge & exposure to industry trends.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="Specializations container pt-5" id="specialization">
    <div class="technology">
        <p class="text-center py-5" style="font-weight: 700;color: #393185;">
            <big style="font-size: 2.5rem;">Discover The Technology Expert In You!</big> <br> <small
                style="font-size: 1.5rem;">From Our Industry Leading Specializations to Choose From</small>
        </p>

        <!-- jQuery uses -->
        <div class="row py-4 g-4 slider">
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/Gaming%20Technology.png" alt="">
                    </div>
                    Gaming Technology
                    <div class="card-body d-flex justify-content-center p-0 mt-4">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/Web%20&%20Mobile%20Computing.png"
                             alt="">
                    </div>
                    Web & Mobile Computing
                </div>
            </div>

            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/Cyber%20Security%20&%20Forensics.png"
                             alt="">
                    </div>
                    Cybe Security & Forensics
                    <div class="card-body d-flex justify-content-center p-0 mt-4">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/Web%20Technologies.png" alt="">
                    </div>
                    Web Technologies
                </div>
            </div>

            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/Full%20Stack%20Web%20Development.png"
                             alt="">
                    </div>
                    Full Stack and Web Development
                    <div class="card-body d-flex justify-content-center p-0 mt-4">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/Big%20Data%20Analytics.png" alt="">
                    </div>
                    Big Data Analytics
                </div>
            </div>

            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/Cloud%20Computing.png" alt="">
                    </div>
                    Cloud Computing
                    <div class="card-body d-flex justify-content-center p-0 mt-4">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/Advanced%20Operating%20System.png"
                             alt="">
                    </div>
                    Advanced Operating System
                </div>
            </div>

            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/Blockchain%20Technology.png" alt="">
                    </div>
                    Blockchain Technology
                    <div class="card-body d-flex justify-content-center p-0 mt-4">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/Artificial%20Intelligence.png"
                             alt="">
                    </div>
                    Artificial Intelligence
                </div>
            </div>
        </div>

    </div>

    <div class="exposure py-5">
        <p class="text-center py-5" style="font-weight: 700;color: #393185;">
            <big style="font-size: 2.5rem;">Here Is Why We Have The Best Tech Exposure For You!</big> <br> <small
                style="font-size: 1.5rem;">The MS College Advantage</small>
        </p>

        <div class="row row-cols-1 row-cols-sm-2  row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://paruluniversity.ac.in/bca_2023/images/Extensive%20practical%20learning.png"
                         class="card-img-top" alt="...">
                    <div class="card-body text-center shadow d-flex align-items-center justify-content-around">
                        <p class="text-center text-dark" style="font-weight: 600; font-size: 0.9rem;">
                            <big style="font-size: 1.1rem;">State of the Art Facilities</big> <br> for research &
                            practical training
                        </p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <img src="https://paruluniversity.ac.in/bca_2023/images/Enriching%20global%20exposure.png"
                         class="card-img-top" alt="...">
                    <div class="card-body text-center shadow d-flex align-items-center justify-content-around">
                        <p class="text-center text-dark" style="font-weight: 600; font-size: 0.9rem;">
                            <big style="font-size: 1.1rem;">Enriching Global Exposure</big> <br> for research &
                            practical training
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://paruluniversity.ac.in/bca_2023/images/Industry-centered%20curriculum.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body text-center shadow d-flex align-items-center justify-content-around">
                        <p class="text-center text-dark" style="font-weight: 600; font-size: 0.9rem;">
                            <big style="font-size: 1.1rem;">Board of Industry Advisors</big> <br> for research &
                            practical training
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://paruluniversity.ac.in/bca_2023/images/Supercomputer%20Facility.jpg"
                         class="card-img-top" alt="...">
                    <div class="card-body text-center shadow d-flex align-items-center justify-content-around">
                        <p class="text-center text-dark" style="font-weight: 600; font-size: 0.9rem;">
                            <big style="font-size: 1.1rem;">Impeccable Placement Opportunities</big> <br> for
                            research & practical training
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="classroom py-5">
        <p class="text-center py-5" style="font-weight: 700;color: #393185;">
            <big style="font-size: 2.5rem;">Go Beyond Classroom Learning</big> <br> <small
                style="font-size: 1.5rem;">Through Our Unique & Practical Ways of Learning</small>
        </p>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 border-0">
                    <img src="https://paruluniversity.ac.in/bca_2023/images/Industrial%20Visits.png"
                         class="card-img-top" alt="...">
                    <div class="card-body text-center" style="font-size: 1.2rem;">
                        Industrial Visits
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 border-0">
                    <img src="https://paruluniversity.ac.in/bca_2023/images/Live%20Projects.png"
                         class="card-img-top" alt="...">
                    <div class="card-body text-center" style="font-size: 1.2rem;">
                        Live Projects
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 border-0">
                    <img src="https://paruluniversity.ac.in/bca_2023/images/ECC%20Activities.png"
                         class="card-img-top" alt="...">
                    <div class="card-body text-center" style="font-size: 1.2rem;">
                        ECC Activities
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="journey py-5">
        <p class="text-center pb-5" style="font-weight: 700;color: #393185;">
            <big style="font-size: 2.8rem;">Explore The World On Your Computer Applications Journey</big> <br>
            <small style="font-size: 1.5rem;">From Our Unique Exchange Opportunities</small>
        </p>

        <hr class="border-4" />

        <div class="row py-5 row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100" style="border-radius: 2%;">
                    <div class="card-body text-center pt-4 text-white"
                         style="background-color: #C42C40; border-radius: 2%;">
                        <h5 class="card-title" style="font-size: 2rem;">2,500+</h5>
                        <p style="font-size: 1.1rem;">International Students</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="border-radius: 2%;">
                    <div class="card-body text-center pt-4 text-white"
                         style="background-color: #151545; border-radius: 2%;">
                        <h5 class="card-title" style="font-size: 2rem;">100+</h5>
                        <p style="font-size: 1.1rem;">Visiting Faculties</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="border-radius: 2%;">
                    <div class="card-body text-center pt-4 text-white"
                         style="background-color: #C42C40; border-radius: 2%;">
                        <h5 class="card-title" style="font-size: 2rem;">70+</h5>
                        <p style="font-size: 1.1rem;">Nationalities</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="border-radius: 2%;">
                    <div class="card-body text-center pt-4 text-white"
                         style="background-color: #151545; border-radius: 2%;">
                        <h5 class="card-title" style="font-size: 2rem;">1000+</h5>
                        <p style="font-size: 1.1rem;">Students Exchanged</p>
                    </div>
                </div>
            </div>
        </div>

        <p class="text-center pt-3 pb-4" style="font-weight: 700;color: #393185; font-size: 1.5rem;">International
            Exposure with renowned tie-ups in</p>

        <div class="row py-4 slide g-4">
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/1.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/2.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/3.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/4.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/5.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/6.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/7.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/8.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/9.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/10.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/11.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/12.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/13.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/14.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center border-0"
                     style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                    <div class="card-body d-flex justify-content-center p-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/world/15.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <p class="text-center pt-2" style="font-weight: 700;color: #393185; font-size: 1.5rem;">& more!</p>
    </div>
</div>

<div class="recruiters py-5" id="recruiter">
    <div class="container-fluid" style="background-color: #151545;">
        <div class="container py-5">
            <p class="text-center text-white pb-4" style="font-weight: 700; font-size: 3rem;">Some of Our Leading
                Recruiters!</p>

            <!-- jQuery uses -->
            <div class="row pt-5 pb-4 g-4 sliders">
                <div class="col">
                    <div class="card h-100 text-center border-0 bg-transparent"
                         style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                        <div class="card-body d-flex justify-content-center p-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/recruiterlogos/Atos.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 text-center border-0 bg-transparent"
                         style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                        <div class="card-body d-flex justify-content-center p-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/recruiterlogos/zeus.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 text-center border-0 bg-transparent"
                         style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                        <div class="card-body d-flex justify-content-center p-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/recruiterlogos/jaro.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 text-center border-0 bg-transparent"
                         style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                        <div class="card-body d-flex justify-content-center p-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/recruiterlogos/Bank%20of%20America.jpg"
                                 alt="">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 text-center border-0 bg-transparent"
                         style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                        <div class="card-body d-flex justify-content-center p-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/recruiterlogos/CodeNation.jpg"
                                 alt="">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 text-center border-0 bg-transparent"
                         style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                        <div class="card-body d-flex justify-content-center p-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/recruiterlogos/Evosys.jpg"
                                 alt="">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 text-center border-0 bg-transparent"
                         style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                        <div class="card-body d-flex justify-content-center p-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/recruiterlogos/Extra%20Marks.jpg"
                                 alt="">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 text-center border-0 bg-transparent"
                         style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                        <div class="card-body d-flex justify-content-center p-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/recruiterlogos/Infosys.jpg"
                                 alt="">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 text-center border-0 bg-transparent"
                         style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                        <div class="card-body d-flex justify-content-center p-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/recruiterlogos/Innovation%20Labs.jpg"
                                 alt="">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 text-center border-0 bg-transparent"
                         style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                        <div class="card-body d-flex justify-content-center p-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/recruiterlogos/TCS.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 text-center border-0 bg-transparent"
                         style="font-size: 1.1rem; font-weight: 400;color: #393185;">
                        <div class="card-body d-flex justify-content-center p-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/recruiterlogos/Wipro.jpg"
                                 alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="itOption py-5">
            <h1 class="text-center display-5 py-4" style="font-weight: 700;color: #393185;">Choose to be an IT
                Entrepreneur!
            </h1>

            <div class="row row-cols-1 row-cols-md-2 mx-md-4 g-4">
                <div class="col">
                    <div class="card border-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/10%20Cr%20In%20Grants%20for%20Innovation%20Support.png"
                             alt="">
                    </div>
                    <p class="text-center" style="font-size: 1.3rem; color: #393185; font-weight: 600;">Innovation
                        Grants
                    </p>
                </div>

                <div class="col">
                    <div class="card border-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/120+%20Start-up%20Developed%20and%20Supported.png"
                             alt="">
                    </div>
                    <p class="text-center" style="font-size: 1.3rem; color: #393185; font-weight: 600;">Start-up
                        Incubated
                        and Supported</p>
                </div>
            </div>
        </div>

        <div class="itTeacher py-5">
            <h1 class="text-center display-5 py-4" style="font-weight: 700;color: #393185;">Choose to be an IT
                Entrepreneur!
            </h1>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 mx-md-4 g-3">
                <div class="col">
                    <div class="card border-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/AliMustafa.png" alt="">
                    </div>
                </div>

                <div class="col">
                    <div class="card border-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/RohitParulekar.png" alt="">
                    </div>
                </div>

                <div class="col">
                    <div class="card border-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/RohitParulekar11.png" alt="">
                    </div>
                </div>

                <div class="col">
                    <div class="card border-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/SonaliMungale.png" alt="">
                    </div>
                </div>

                <div class="col">
                    <div class="card border-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/SandeshTyagi.png" alt="">
                    </div>
                </div>

                <div class="col">
                    <div class="card border-0">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/RohitParulekar.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 py-5 row-cols-md-2 mt-5 g-4">
            <div class="col-md-8">
                <div class="row row-cols-1 row-cols-md-2 gy-4">
                    <div class="col d-flex align-items-center justify-content-around">
                        <p class="text-center"
                           style="font-size: 2.8rem; color: #393185; font-weight: 600; line-height: 1;">Our Alumni
                            Are
                            Working With Leading Tech Companies
                        </p>
                    </div>

                    <div class="col">
                        <div class="card border-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/4.png" alt="">
                        </div>
                    </div>

                    <div class="col">
                        <div class="card border-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/3.png" alt="">
                        </div>
                    </div>

                    <div class="col">
                        <div class="card border-0">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-0">
                    <img src="https://paruluniversity.ac.in/bca_2023/images/Image-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="campus container py-5 mb-5">
    <div class="campusExperience pb-5" id="camp">
        <h1 class="text-center display-5 py-5" style="font-weight: 700;color: #393185;">An Unforgettable Campus
            Experience!
        </h1>

        <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
            <div class="col-12 col-md-5">
                <div class="row abhi">
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/slider/Slider%20-1.png" alt="">
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/slider/Slider%20-2.png" alt="">
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/slider/Slider%20-3.png" alt="">
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/slider/Slider%20-4.png" alt="">
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/slider/Slider%201.png" alt="">
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/c5n.jpg" alt="">
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/Slider%201.png" alt="">
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/Festivals_1.png" alt="">
                        </div>
                    </div>
                </div>
                <p class="text-center py-4" style="font-weight: 700;font-size: 1.1rem; color: #393185;">Discover
                    diversities in festivities!</p>
            </div>

            <div class="col-12 col-md-5">
                <div class="row shu">
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/Anand%20Kumar.png" alt="">
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/Manushi%20Chillar.png" alt="">
                        </div>
                    </div>
                </div>
                <p class="text-center py-4" style="font-weight: 700;font-size: 1.1rem; color: #393185;">Get inspired
                    by stories from eminent personalities!</p>
            </div>
        </div>
    </div>

    <div class="studentExperience pb-5" id="student">
        <h1 class="text-center display-5 py-4" style="font-weight: 700;color: #393185;">Hear Out Our Student
            Experiences!</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card border-1 border-danger h-100" style="border-radius: 5%;">
                    <div class="image d-flex justify-content-around mt-3">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/stud.svg" class="card-img-top "
                             style="width: 10%;" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text text-center" style="font-weight: 600;">As an computer science student, I
                            have received all the support anytime, anywhere in the University. I've been taught by
                            extremely talented teachers who are IIT and NIT graduated. I always counted on them for
                            strengthening my concepts and boosting my technical skills.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 ">
                        <p class="text-center text-danger-emphasis" style="font-size: 1rem;"><strong>Abhishek
                            Singh</strong></p>
                        <div class="d-flex justify-content-around">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/Abhishek%20Singh.png"
                                 class="card-img-top" style="width: 35%;" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-1 border-danger h-100" style="border-radius: 5%;">
                    <div class="image d-flex justify-content-around mt-3">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/stud.svg" class="card-img-top "
                             style="width: 10%;" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text text-center" style="font-weight: 600;">Throughout the three years, I've
                            actively participated in Projections, Tech Expo and other numerous technical events
                            which
                            have inculcated a room for innovation in me.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 ">
                        <p class="text-center text-danger-emphasis" style="font-size: 1rem;"><strong>Aditi
                            Shah</strong></p>
                        <div class="d-flex justify-content-around">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/Aditi%20Shah%20(2).png"
                                 class="card-img-top" style="width: 35%;" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-1 border-danger h-100" style="border-radius: 5%;">
                    <div class="image d-flex justify-content-around mt-3">
                        <img src="https://paruluniversity.ac.in/bca_2023/images/stud.svg" class="card-img-top "
                             style="width: 10%;" alt="...">
                    </div>
                    <div class="card-body">
                        <p class="card-text text-dark text-center" style="font-weight: 600;">I credit my campus
                            selection to the Training & Placement Cell of Parul University. It has regularly
                            arranged
                            mock interviews , effortlessly coordinated between the companies and students, organised
                            training programs, and conducted sessions from the industry experts. All this makes the
                            T&P
                            Cell very trustworthy for shaping the career of students.</p>
                    </div>
                    <div class="card-footer bg-transparent border-0 p-3">
                        <p class="text-center text-danger-emphasis" style="font-size: 1rem;"><strong>Shweta
                            Chudhary</strong></p>
                        <div class="d-flex justify-content-around">
                            <img src="https://paruluniversity.ac.in/bca_2023/images/Shweta%20Chudhary.png"
                                 class="card-img-top" style="width: 35%;" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container-fluid p-0"
         style="background-image: url('https://images.shiksha.com/mediadata/images/1664233187phpFEazsz.jpeg'); background-size: cover;">
    <div class="overlay text-white pt-3" style="background-color: rgba(0, 0, 0, .8);">

        <div class="container py-4">
            <div class="row row-cols-1 row-cols-md-3 g-4 py-4">
                <div class="col">
                    <div class="card border-0 h-100 bg-transparent">
                        <div class="card-body">
                            <div class="row g-2">
                                <div class="col-7">
                                    <div class="card text-white bg-transparent text-center pt-2 border-2 border-bottom-0 border-start-0 border-top-0 border-white"
                                         style="border-radius: 0%;">
                                        <p style="font-size: 1.5rem;font-weight: 600;line-height: 0.8;">MS COLLEGE
                                            <small style="font-size: 1rem;">Motihari,Bihar</small>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="card border-0 bg-transparent">
                                        <div class="card-body p-0">
                                            <img src="logowhiten.png" class="w-100" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center align-items-center">
                    <div class="card h-100  bg-transparent text-white">
                        <h3 style="font-weight: 500;">ADDRESS</h3>
                        <div style="line-height: 1.4;">
                            <p style="font-size: 1.2rem;"><i class="fas fa-address-card"></i> Chandmari, Motihari, East champaran, <br> Bihar 845401</p>
                        </div>
                    </div>
                </div>

                <div class="col d-flex justify-content-center align-items-center">
                    <div class="card h-100 bg-transparent border-0 text-white">
                        <h3 style="font-weight: 500;">Get in Touch With Us</h3>
                        <div class="pt-2" style="line-height: 0.9;">
                            <a>
                                <p style="font-size: 1.2rem;"><i class="fas fa-phone-volume"></i> 1800-123-1104</p>
                            </a>
                            <a>
                                <p style="font-size: 1.2rem;"><i class="fas fa-mail-bulk"></i> admissions@paruluniversity.ac.in</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <h6 class="text-center py-4">© Copyright 2023. All Rights Reserved by Parul University.</h6>
        </div>

    </div>
</section>

<!-- Java Script codes -->
<!-- JQuery cdn link -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<!-- SLICK cdn link -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>

<!-- Script -->
<script type="text/javascript">

        $('.slider').slick({
            dots: true,
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 3000,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: true,
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });

        $('.sliders').slick({
            dots: true,
            arrows: false,
            infinite: true,
            slidesToShow: 5,
            slidesToScroll: 2,
            autoplay: true,
            autoplaySpeed: 3000,
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 4,
                        arrows: false,
                        slidesToScroll: 2,
                        infinite: true,
                        dots: true,
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 3,
                        arrows: false,
                        slidesToScroll: 2,
                        infinite: true,
                        dots: true,
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                        arrows: false,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 1,
                        arrows: false,
                        slidesToScroll: 1
                    }
                }
            ]
        });

        $('.slide').slick({
            dots: true,
            arrows: false,
            infinite: true,
            slidesToShow: 10,
            slidesToScroll: 3,
            autoplay: true,
            autoplaySpeed: 3000,
            responsive: [
                {
                    breakpoint: 1200,
                    settings: {
                        slidesToShow: 8,
                        arrows: false,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true,
                    }
                },
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 6,
                        arrows: false,
                        slidesToScroll: 2,
                        infinite: true,
                        dots: true,
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 4,
                        arrows: false,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 576,
                    settings: {
                        slidesToShow: 2,
                        arrows: false,
                        slidesToScroll: 1
                    }
                }
            ]
        });

        $('.abhi').slick({
            dots: true,
            arrows: false,
            infinite: true,
            slidesToShow: 1,
            adaptiveHeight: false,
            autoplay: true,
            autoplaySpeed: 2500
        });

        $('.shu').slick({
            dots: true,
            arrows: false,
            infinite: true,
            slidesToShow: 1,
            adaptiveHeight: false,
            autoplay: true,
            autoplaySpeed: 4500
        });

    </script>
</body>

</html>